/* sets default font, box sizing, line height, and resets margin and padding for all elements */
* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.6em;
}

/* fixes text size for pre, code, kbd, and samp tags */
pre, code, kbd, samp {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
}

/* fixes text size for input elements */
input, textarea, button, select, optgroup {
    font: inherit;
    font-size: 1em;
}